OrderIt/.idea/gradle.xml
OrderIt/app/build.gradle
/kitchen-module/node_modules/
/.idea/
/kitchen-module/.idea/
/kitchen-module/bin/
/kitchen-module/npm-debug.log
/OrderIt/.idea/
/OrderIt/.gradle/
/OrderIt/OrderIt.iml
/OrderIt/local.properties
/OrderIt/gradle/
/OrderIt/app/build/
/OrderIt/build/
/OrderIt/app/app.iml
