<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>
		<%= title %>
		</title>
		<meta name="description" content="OrderIt,order food and beverages using apps">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="canonical" href="http://orderit.dinogroup.vn" />
		<link rel="alternate" href="orderit.dinogroup.vn" hreflang="en-us" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-controller="myController">
		<header>
			<h1>Order-It Kitchen</h1>
			<p>
				<a href="https://github.com/LeeU1911/OrderIt">Star us on GitHub</a>
			</p>
		</header>
		<main>
		<p class="button">
			<a href="/register">Register</a>
		</p>
		<p class="button">
			<a href="/login">Login</a>
		</p>
		</main>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
	<script src="/javascripts/myApp.js"></script>
	</body>
</html>
				