<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Orderit-website by LeeU1911</title>
    <link rel="stylesheet" href="stylesheets/spectre.min.css" media="screen" />
    <link rel="stylesheet" href="stylesheets/success.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body style="background-color: #3ea9f5; color: white;">
<header class="text-center" style="margin-bottom: 6rem;">
    <!-- <img class="img-responsive" width="120" height="120" src="https://github.com/LeeU1911/OrderIt/raw/master/Designs/icon/nsr-app_icon.png"/> -->
    <h1 style="margin-top: 50px;" class="titleh1">
        <figure class="avatar avatar-xl">
            <img src="./images/logo.jpg" />
        </figure>
        OrderIt
    </h1>
</header>
<section class="container grid-480">
    <div class='message centered'>
        <div class='check'>
            &#10004;
        </div>
        <p>Success</p>
        <p>Your account has been created successfully.</p>
        <p>But you caught us a bit early! We'll send you an email right away when we ship our android app in the next few days!</p>
        <!-- <a href="https://play.google.com/store">
            <img src="./images/get_it_on_googleplay.png" alt="Get it on Google play">
        </a> -->
    </div>
</section>

<!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>